<div class="font-[sans-serif] p-4 mx-auto lg:max-w-5xl sm:max-w-2xl max-w-md">
  <h2 class="text-4xl font-extrabold text-[#008080] mb-12">Products</h2>
  <div>
    <label for="search" class="visually-hidden">Search Products</label>
    <input id="search" (keyup)="searchProducts(search.value)" #search 
           class="form-control mx-2 border border-gray-300 p-2 rounded-lg shadow-sm focus:ring-2 focus:ring-[#008080]" 
           type="search" placeholder="Search" aria-label="Search">
  </div>
</div>

<div class="row m-auto container mt-4">
  <ng-container *ngIf="filteredProducts.length > 0; else noProductsFound">
    <div *ngFor="let product of filteredProducts;" class="card m-2 col-md-4 col-sm-6 col-12 shadow-lg rounded-lg overflow-hidden" style="width: 18rem;">
      <img [src]="imgDomain + product.cover" class="card-img-top w-100 h-50 rounded-t-lg" [alt]="product.name">
      <div class="card-body position-relative bg-white">
        <h5 class="card-title text-[#008080] font-bold">{{ product?.name }}</h5>
        <p class="card-text text-gray-600">{{ product?.description! | description:10 }}</p>
        <p class="card-text text-gray-700">Price: {{ product?.price | currency: 'EUR' }}</p>
        <p class="card-text text-gray-500">{{ product?.ratingAverage | number: '1.1-1' }} &star; - Count {{ product?.ratingCount }}</p>
        <div class="position-absolute btn-card">
          <a [routerLink]="[product._id]" class="btn bg-[#007bff] text-white mx-2 px-3 py-2 rounded-md shadow-md hover:bg-[#0056b3] transition duration-300">See More</a>
          <button (click)="addToCart(product._id!)" class="btn bg-[#d63384] text-white mx-2 px-3 py-2 rounded-md shadow-md hover:bg-[#b82e6c] transition duration-300">Add to Cart</button>
        </div>
      </div>
      <br>
    </div>
  </ng-container>

  <ng-template #noProductsFound>
    <div class="text-center mt-4 text-red-500 font-bold text-lg">
      No Products Found 😢
    </div>
  </ng-template>
</div>
<div class="container m-auto mt-5 w-25 mb-4">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="pagination.currentPage === 1">
      <button (click)="changePage(1)" class="page-link bg-[#007bff] text-white rounded-md shadow-md hover:bg-[#0056b3] transition duration-300" 
              [disabled]="pagination.currentPage === 1">First</button>
    </li>
    <li *ngIf="pagination.prev" (click)="changePage(pagination.prev)" class="page-item">
      <button class="page-link bg-gray-300 text-gray-700 rounded-md shadow-md hover:bg-gray-400 transition duration-300">{{ pagination.prev }}</button>
    </li>
    <li class="page-item"><button disabled class="page-link bg-gray-500 text-white rounded-md">{{ pagination.currentPage }}</button></li>
    <li *ngIf="pagination.next" (click)="changePage(pagination.next)" class="page-item">
      <button class="page-link bg-gray-300 text-gray-700 rounded-md shadow-md hover:bg-gray-400 transition duration-300">{{ pagination.next }}</button>
    </li>
    <li class="page-item" [class.disabled]="pagination.currentPage === pagination.totalPages">
      <button (click)="changePage(pagination.totalPages!)" class="page-link bg-[#007bff] text-white rounded-md shadow-md hover:bg-[#0056b3] transition duration-300" 
              [disabled]="pagination.currentPage === pagination.totalPages">Last</button>
    </li>
  </ul>
</div>
